* {
  font-family: Verdana, Georgia;
  box-sizing: border-box;
}
body {
  background-color: #ca9f9fcc;
  margin: 0 auto;
  line-height: 1;
    
}
header, nav {
display: flexbox;
align-items: center;
justify-content: space-between;
flex-direction: row;
}
header img {
  width: 150px;
  height: auto;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

main section:nth-child(2) p {
  text-indent: 10px; 
  margin-left: 50px;
  
}
img {
  border-radius: 50%;
  display: grid;
  place-items: left;
}
article {
  display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

section, ul {
  list-style: inside;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section, .locations{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;   
}
.color {
  display: block;
  text-align: center;
  margin: 30px;
}
.hours {
  display: white;
  text-align: center;
}
ul li {
  margin: 10px;
  padding: 5px;
}
h1 {
  color: #796782;
}
h1 , h2, h3 {
  
  font-weight: bold;
  margin: 15px;
  font-size: 32px;
  font-family: 'Arial', cursive;
}
table {
  width: 30%;
  
  vertical-align: center;
}
table, th, td {
  border: 2px solid  rgb(121, 37, 37);
  margin: 0;
  font-size: 20px;
  font-style: italic;
  padding: 0;
  background-color: #ffffff59;
  font-size: 18px;
}
td, th {
  padding: 5px;
}
th {
  text-align: center;
}
.hours {
  margin: 10px;
}
p {
  padding: 10px;
  margin: 10px;
}
a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}
a:hover {
  color: rgb(135 51 171);
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

section, .locations {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
}

header {
  display: grid;
  place-items: center;
  }
  .logo-container img {
    float: left;
}

fieldset {
border: 2px solid black;
place-items: center;
height: 50px;
}